In [ ]:
import pandas as pd
import numpy as np
import nltk
nltk.download('wordnet')
from nltk.tokenize import word_tokenize
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
import re

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [ ]:
df = pd.read_csv("IMDB_Dataset.csv") 
df

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [ ]:
html_pattern = re.compile('<.*?>')
df['review'] = df['review'].replace(html_pattern, '')
df

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. The filming tec...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [ ]:
df["review"]= df["review"].str.replace("[#,@,&,',-, / ,<,>,.,(,)]", "")
df

<ipython-input-48-2d52baf577c0>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df["review"]= df["review"].str.replace("[#,@,&,',-, / ,<,>,.,(,)]", "")

                                                  review sentiment
0      Oneoftheotherreviewershasmentionedthatafterwat...  positive
1      AwonderfullittleproductionThefilmingtechniquei...  positive
2      Ithoughtthiswasawonderfulwaytospendtimeonatooh...  positive
3      BasicallytheresafamilywherealittleboyJakethink...  negative
4      PetterMatteis"LoveintheTimeofMoney"isavisually...  positive
...                                                  ...       ...
49995  IthoughtthismoviedidadownrightgoodjobItwasntas...  positive
49996  Badplotbaddialoguebadactingidioticdirectingthe...  negative
49997  IamaCatholictaughtinparochialelementaryschools...  negative
49998  Imgoingtohavetodisagreewiththepreviouscommenta...  negative
49999  NooneexpectstheStarTrekmoviestobehighartbutthe...  negative

[50000 rows x 2 columns]

In [ ]:
df["review"]= df["review"].str.replace('"', '')
df

                                                  review sentiment
0      Oneoftheotherreviewershasmentionedthatafterwat...  positive
1      AwonderfullittleproductionThefilmingtechniquei...  positive
2      Ithoughtthiswasawonderfulwaytospendtimeonatooh...  positive
3      BasicallytheresafamilywherealittleboyJakethink...  negative
4      PetterMatteisLoveintheTimeofMoneyisavisuallyst...  positive
...                                                  ...       ...
49995  IthoughtthismoviedidadownrightgoodjobItwasntas...  positive
49996  Badplotbaddialoguebadactingidioticdirectingthe...  negative
49997  IamaCatholictaughtinparochialelementaryschools...  negative
49998  Imgoingtohavetodisagreewiththepreviouscommenta...  negative
49999  NooneexpectstheStarTrekmoviestobehighartbutthe...  negative

[50000 rows x 2 columns]

In [ ]:
df["review"]= df["review"].str.replace(' ', '')
df

                                                  review sentiment
0      Oneoftheotherreviewershasmentionedthatafterwat...  positive
1      AwonderfullittleproductionThefilmingtechniquei...  positive
2      Ithoughtthiswasawonderfulwaytospendtimeonatooh...  positive
3      BasicallytheresafamilywherealittleboyJakethink...  negative
4      PetterMatteisLoveintheTimeofMoneyisavisuallyst...  positive
...                                                  ...       ...
49995  IthoughtthismoviedidadownrightgoodjobItwasntas...  positive
49996  Badplotbaddialoguebadactingidioticdirectingthe...  negative
49997  IamaCatholictaughtinparochialelementaryschools...  negative
49998  Imgoingtohavetodisagreewiththepreviouscommenta...  negative
49999  NooneexpectstheStarTrekmoviestobehighartbutthe...  negative

[50000 rows x 2 columns]

In [ ]:
df["review"]= df["review"].str.lower()
df

                                                  review sentiment
0      oneoftheotherreviewershasmentionedthatafterwat...  positive
1      awonderfullittleproductionthefilmingtechniquei...  positive
2      ithoughtthiswasawonderfulwaytospendtimeonatooh...  positive
3      basicallytheresafamilywherealittleboyjakethink...  negative
4      pettermatteisloveinthetimeofmoneyisavisuallyst...  positive
...                                                  ...       ...
49995  ithoughtthismoviedidadownrightgoodjobitwasntas...  positive
49996  badplotbaddialoguebadactingidioticdirectingthe...  negative
49997  iamacatholictaughtinparochialelementaryschools...  negative
49998  imgoingtohavetodisagreewiththepreviouscommenta...  negative
49999  nooneexpectsthestartrekmoviestobehighartbutthe...  negative

[50000 rows x 2 columns]

**Удаление стоп-слов**

In [ ]:
from nltk.corpus import stopwords
nltk.download('stopwords')
stop_word = stopwords.words('english')
stop_word



df["review"] = df["review"]
filteread_words = []
for token in df["review"]:
  if token not in stop_word:
    filteread_words.append(token)
df

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

                                                  review sentiment
0      oneoftheotherreviewershasmentionedthatafterwat...  positive
1      awonderfullittleproductionthefilmingtechniquei...  positive
2      ithoughtthiswasawonderfulwaytospendtimeonatooh...  positive
3      basicallytheresafamilywherealittleboyjakethink...  negative
4      pettermatteisloveinthetimeofmoneyisavisuallyst...  positive
...                                                  ...       ...
49995  ithoughtthismoviedidadownrightgoodjobitwasntas...  positive
49996  badplotbaddialoguebadactingidioticdirectingthe...  negative
49997  iamacatholictaughtinparochialelementaryschools...  negative
49998  imgoingtohavetodisagreewiththepreviouscommenta...  negative
49999  nooneexpectsthestartrekmoviestobehighartbutthe...  negative

[50000 rows x 2 columns]

**Лемматизация**

In [ ]:
def get_lemmatized_text(corpus):
    from nltk.stem import WordNetLemmatizer
    lemmatizer = WordNetLemmatizer()
    return [' '.join([lemmatizer.lemmatize(word) for word in review.split()]) for review in corpus]

df['review'] = get_lemmatized_text(df['review'])
df

                                                  review sentiment
0      oneoftheotherreviewershasmentionedthatafterwat...  positive
1      awonderfullittleproductionthefilmingtechniquei...  positive
2      ithoughtthiswasawonderfulwaytospendtimeonatooh...  positive
3      basicallytheresafamilywherealittleboyjakethink...  negative
4      pettermatteisloveinthetimeofmoneyisavisuallyst...  positive
...                                                  ...       ...
49995  ithoughtthismoviedidadownrightgoodjobitwasntas...  positive
49996  badplotbaddialoguebadactingidioticdirectingthe...  negative
49997  iamacatholictaughtinparochialelementaryschools...  negative
49998  imgoingtohavetodisagreewiththepreviouscommenta...  negative
49999  nooneexpectsthestartrekmoviestobehighartbutthe...  negative

[50000 rows x 2 columns]

**Tokenization**

In [ ]:
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(df['review'])
print(X)

  (0, 156401)	1
  (1, 29729)	1
  (1, 234769)	1
  (1, 225327)	1
  (1, 31327)	1
  (1, 139896)	1
  (1, 254162)	1
  (1, 198345)	1
  (2, 113519)	1
  (2, 80577)	1
  (2, 172230)	1
  (2, 245290)	1
  (3, 31191)	1
  (3, 24971)	1
  (3, 92952)	1
  (3, 125166)	1
  (4, 163425)	1
  (5, 166701)	1
  (5, 225583)	1
  (5, 232795)	1
  (6, 111329)	1
  (7, 223022)	1
  (7, 93977)	1
  (7, 86124)	1
  (7, 176703)	1
  :	:
  (49991, 214013)	1
  (49992, 124078)	1
  (49993, 172370)	1
  (49993, 225764)	1
  (49993, 126896)	1
  (49993, 225867)	1
  (49993, 235659)	1
  (49993, 172432)	1
  (49993, 155927)	1
  (49993, 99811)	1
  (49993, 145133)	1
  (49993, 157076)	1
  (49993, 4070)	1
  (49993, 146651)	1
  (49994, 219474)	1
  (49994, 207013)	1
  (49995, 113451)	1
  (49996, 30369)	1
  (49996, 169268)	1
  (49997, 89088)	1
  (49998, 101421)	1
  (49999, 147736)	1
  (49999, 217461)	1
  (49999, 103279)	1
  (49999, 62408)	1

In [ ]:
tokens = vectorizer.get_feature_names_out()

In [ ]:
from sklearn import preprocessing

In [ ]:
label_encoder = preprocessing.LabelEncoder()
df['sentiment']= label_encoder.fit_transform(df['sentiment'])
df

                                                  review  sentiment
0      oneoftheotherreviewershasmentionedthatafterwat...          1
1      awonderfullittleproductionthefilmingtechniquei...          1
2      ithoughtthiswasawonderfulwaytospendtimeonatooh...          1
3      basicallytheresafamilywherealittleboyjakethink...          0
4      pettermatteisloveinthetimeofmoneyisavisuallyst...          1
...                                                  ...        ...
49995  ithoughtthismoviedidadownrightgoodjobitwasntas...          1
49996  badplotbaddialoguebadactingidioticdirectingthe...          0
49997  iamacatholictaughtinparochialelementaryschools...          0
49998  imgoingtohavetodisagreewiththepreviouscommenta...          0
49999  nooneexpectsthestartrekmoviestobehighartbutthe...          0

[50000 rows x 2 columns]

In [ ]:
x = X
y = df['sentiment'].values
x_train, x_test, y_train, y_test = train_test_split(x,
                                                    y, test_size=0.2, random_state=10)

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
lr = LogisticRegression()
lr.fit(x_train, y_train)
log_reg = lr.predict(x_train)

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy = accuracy_score(y_train, log_reg)
print('Accuracy:', accuracy)

Accuracy: 0.9996